.opacity .modernizr-single-supports {
  test: ok;
}

.opacity .modernizr-single-supports .modernizr-single-supports2 {
  test: ok;
}

.opacity .modernizr-single-supports, .opacity .modernizr-single-supports2 {
  test: ok;
}
