@charset "UTF-8";
/**
* Prints classes for supported or unsupported features
*
* @access private
*
* @param {Bool}      $supports   - Whether to check for supported features or not
* @param {ArgList}   $features   - List of features
*
* @throws `Modernizr mixin should be called within a selector.`
* @throws `$feature` is not a `string` for `modernizr.`
*/
/**
* Prints classes for supported features
*
* @requires modernizr
*
* @access public
*
* @param {ArgList} $features   - List of features
*
* @example scss
* .my-selector {
*   @include yep(opacity, csstransforms) {
*     // ...
*   }
* }
*/
/**
* Nope “alias”
* Prints classes for unsupported features and lack of JS
*
* @requires modernizr
*
* @access public
*
* @param {ArgList} $features - List of features
*
* @example scss
* .my-selector {
*   @include nope(opacity, csstransforms) {
*     // ...
*   }
* }
*/
.opacity.csstransforms .modernizr-multi-supports {
  test: ok;
}

.opacity.csstransforms .modernizr-multi-supports .modernizr-multi-supports2 {
  test: ok;
}

.opacity.csstransforms .modernizr-multi-supports, .opacity.csstransforms .modernizr-multi-supports2 {
  test: ok;
}
