.no-js .modernizr-multi-supports-false, .no-opacity .modernizr-multi-supports-false, .no-csstransforms .modernizr-multi-supports-false {
  test: ok;
}

.no-js .modernizr-multi-supports-false .modernizr-multi-supports-false2, .no-opacity .modernizr-multi-supports-false .modernizr-multi-supports-false2, .no-csstransforms .modernizr-multi-supports-false .modernizr-multi-supports-false2 {
  test: ok;
}

.no-js .modernizr-multi-supports-false, .no-js .modernizr-multi-supports-false2, .no-opacity .modernizr-multi-supports-false, .no-opacity .modernizr-multi-supports-false2, .no-csstransforms .modernizr-multi-supports-false, .no-csstransforms .modernizr-multi-supports-false2 {
  test: ok;
}
