@charset "UTF-8";
/**
* Prints classes for supported or unsupported features
*
* @access private
*
* @param {Bool}      $supports   - Whether to check for supported features or not
* @param {ArgList}   $features   - List of features
*
* @throws `$feature` is not a `string` for `modernizr`
*/
/**
* Prints classes for supported features
*
* @requires modernizr
*
* @access public
*
* @param {ArgList} $features   - List of features
*
* @example scss
* .my-selector {
*   @include yep(opacity, csstransforms) {
*     // ...
*   }
* }
*/
/**
* Nope “alias”
* Prints classes for unsupported features and lack of JS
*
* @requires modernizr
*
* @access public
*
* @param {ArgList} $features - List of features
*
* @example scss
* .my-selector {
*   @include nope(opacity, csstransforms) {
*     // ...
*   }
* }
*/
.no-js .nope-single, .no-opacity .nope-single {
  test: ok;
}

.no-js .nope-single .nope-single2, .no-opacity .nope-single .nope-single2 {
  test: ok;
}

.no-js .nope-single, .no-js .nope-single2, .no-opacity .nope-single, .no-opacity .nope-single2 {
  test: ok;
}
