.no-js .nope-multi, .no-opacity .nope-multi, .no-csstransforms .nope-multi {
  test: ok;
}

.no-js .nope-multi .nope-multi2, .no-opacity .nope-multi .nope-multi2, .no-csstransforms .nope-multi .nope-multi2 {
  test: ok;
}

.no-js .nope-multi, .no-js .nope-multi2, .no-opacity .nope-multi, .no-opacity .nope-multi2, .no-csstransforms .nope-multi, .no-csstransforms .nope-multi2 {
  test: ok;
}
