@import '../../stylesheets/_modernizr';

// Simple
.modernizr-single-supports-false {
    @include _modernizr(false, opacity) {
        test: ok;
    }
}

// Nested
.modernizr-single-supports-false {
    .modernizr-single-supports-false2 {
        @include _modernizr(false, opacity) {
            test: ok;
        }
    }
}

// Multiple
.modernizr-single-supports-false,
.modernizr-single-supports-false2 {
    @include _modernizr(false, opacity) {
        test: ok;
    }
}
