@import '../../stylesheets/_modernizr';

// Simple
.yep-single {
    @include yep(opacity) {
        test: ok;
    }
}

// Nested
.yep-single {
    .yep-single2 {
        @include yep(opacity) {
            test: ok;
        }
    }
}

// Multiple
.yep-single,
.yep-single2 {
    @include yep(opacity) {
        test: ok;
    }
}
