@import '../../stylesheets/_modernizr';

.modernizr-single-supports {
    @include modernizr(true, opacity) {
        test: ok;
    }
}

.modernizr-multi-supports {
    $features: (opacity, csstransforms);
    @include modernizr(true, $features...) {
        test: ok;
    }
}

.modernizr-single-supports-false {
    @include modernizr(false, opacity) {
        test: ok;
    }
}

.modernizr-multi-supports-false {
    $features: (opacity, csstransforms);
    @include modernizr(false, $features...) {
        test: ok;
    }
}

.yep-single {
    @include yep(opacity) {
        test: ok;
    }
}

.yep-multi {
    @include yep(opacity, csstransforms) {
        test: ok;
    }
}

.nope-single {
    @include nope(opacity) {
        test: ok;
    }
}

.nope-multi {
    @include nope(opacity, csstransforms) {
        test: ok;
    }
}
